yfinance
streamlit
gnews
tqdm
pandas
datetime
newspaper3k
transformers
torch
plotly
python-dotenv
pymongo
lxml_html_clean
openpyxl
matplotlib
beautifulsoup4
bs4
dnspython
feedparser
requests
statsmodels
scikit-learn
pickle
